@charset 'utf-8';
@import url('common.css');
header{
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    z-index: 5;
}
header article{
    display: flex;
    padding: 10px;
}
header article h1{font-size: 25px;}
header article nav{
    margin-left: 350px;
}
header article nav a{
    margin-right: 70px;
    font-size: 18px;
}
header article ul{display: inline-block;}
header article ul li ul{
    display: none;
    position: absolute; 
}
header article ul li ul li{
    margin: 20px 0; 
    position: relative;
}
header article ul li ul li::after{
    content: '';
    width: 0%; height: 1px;
    position: absolute;
    bottom: 0; left: 0%;
    background: gray;
    transition: all 0.5s;
}
header article ul li ul li:hover::after{width: 100%;}
header article ul:hover ul{
    display: block;
}
header article.active{
    background: #fff;
    margin: 0;
}
header article nav a{
    color: rgb(66, 64, 64);   
    position: relative;
}
header article nav a::after{
    content: '';
    width: 0%; height: 1px;
    position: absolute;
    bottom: 0; left: 0%;
    background: gray;
    transition: all 0.5s;
}
header article nav a:hover::after{
    width: 100%;
}
header article nav a:hover{
    color:rgb(149, 144, 144);
}

main{margin: 0;}
.spot{
    margin-top:50px; width: 100%;
    padding: 30px 0;
}
.spot .ment{
    text-align: center;
    margin: 50px 0;
}
.spot .ment h2{
    font-size: 30px;
    display: inline-block
}
.spot .ex01{
    width: 40%; margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.spot .ex01 div{text-align: center;}
.spot .ex01 div a{
    display: block;
}
.spot .ex01 div a img{
    transform: translate(0);
    transition: .4s;
}
.spot .ex01 div a img:hover{
    transform: translate(-20px,-20px);
}
.spot .ex01 div:nth-of-type(2){
    margin-top: 10px;
}
.spot .ex01 div:nth-of-type(2) p{
    margin-top: 30px;
}
.spot .ex01 div p{
    margin: 10px 0;
    font-family: 'Karla', sans-serif;
}
.spot .ex01 div p b{
    font-size: 20px;
}
.ex02{
    margin-top: 30px; width: 100%;
}
.ex02 table{
    width: 80%; margin:30px auto 50px auto;
    font-size: 15px;
    border-collapse: collapse;
}
.ex02 table caption{
    font-size: 30px; 
    color: rgb(64, 62, 62);
    margin: 50px 0;
}
.ex02 table tr{text-align: center; }
.ex02 table tr:nth-of-type(1){
    font-size: 18px;
}
.ex02 table tr:nth-of-type(2){
    font-weight: bold;
}

.ex02 table th{ border: 1px solid gray; }
.ex02 table td{
    border: 1px solid gray;
    color: rgb(62, 62, 62);
    font-family: 'Karla', sans-serif;
    height: 25px;
}
.ex02 table tr span{
    color: red;
}
.ex02 table td:nth-of-type(3) , :nth-of-type(4){
    width: 10%;
}
.ex02 div{
    width: 100%;
    text-align: center;
    text-decoration:underline;
}
footer{
    width: 100%;
    margin-top: 10px;
    text-align: center;
    background: url(../img/spot.jpg);
    margin-top: 100px;
}
footer .last{
    padding-bottom: 20px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
footer .last h4{
    font-size: 20px;
}
footer .last span{
    display: block;
    font-size: 13px;
    color: gray;
}