@charset 'utf-8';
@import url('common.css');
header{
    width: 100%; margin: 0 auto;
    text-align: center;
    background: white;
    position:sticky;
    top: 0;
    z-index: 111;
    padding: 20px 0;
}
header article{
    width: 100%;
    margin: 0 auto;

}
header article h1{
    padding: 20px;
    font-size: 40px;
}
header article nav{
    width: 100%;
    font-size: 18px;
    padding: 10px;
    
}
header article nav ul{
    display: inline-block;
}
header article nav ul li{
    position: relative;
}
header article nav ul li ul{
    display: none;
    position: absolute; 
    width: 700px;
   padding-top: 30px;
}
header article nav ul:hover ul{
    display:flex;
    background: white;
    justify-content: space-between;
}
header article nav ul ul li img{
    width: 140px; height: 120px;
}
header article nav a{
    margin: 0 50px;
    color: rgb(66, 64, 64);   
    position: relative;
}
header article nav a::after{
    content: '';
    width: 0%; height: 1px;
    position: absolute;
    bottom: 0; left: 0%;
    background: gray;
    transition: all 0.5s;
}
header article nav a:hover::after{
    width: 100%;
}
header article nav a:hover{
    color:rgb(149, 144, 144);
}
main{}

.spot{
    margin-top:80px; width: 100%;
    padding: 30px 0;
}
.spot .ex01{
    width: 40%; margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.spot .ex01 div{text-align: center;}
.spot .ex01 div a{
    display: block;
}
.spot .ex01 div a img{
    transform: translate(0);
    transition: .4s;
}
.spot .ex01 div a img:hover{
    transform: translate(-20px,-20px);
}
.spot .ex01 div:nth-of-type(2){
    margin-top: 10px;
}
.spot .ex01 div:nth-of-type(2) p{
    margin-top: 30px;
}
.spot .ex01 div p{
    margin: 10px 0;
    font-family: 'Karla', sans-serif;
}
.spot .ex01 div p b{
    font-size: 20px;
}
.community{
    margin-top: 70px; width: 100%;
}
.community table{
    width: 80%; margin:100px auto 50px auto;
    font-size: 15px;
    border-collapse: collapse;
}
.community table caption{
    text-align: start;
    font-size: 30px; margin-bottom: 30px;
    color: rgb(64, 62, 62);
}
.community table tr{text-align: center; }
.community table tr:nth-of-type(1){
    font-size: 18px;
}
.community table tr:nth-of-type(2){
    font-weight: bold;
}

.community table th{ border: 1px solid gray; }
.community table td{
    border: 1px solid gray;
    color: rgb(62, 62, 62);
    font-family: 'Karla', sans-serif;
    height: 25px;
}
.community table tr span{
    color: red;
}
.community table td:nth-of-type(3) , :nth-of-type(4){
    width: 10%;
}
.community div{
    width: 100%;
    text-align: center;
    text-decoration:underline;
}
footer{
    width: 100%;
    margin-top: 100px;
    text-align: center;
}
footer p{
    display: inline-block;
    width: 100%; height: 1px;
    background-color: gray;
}
footer .last{
    padding-bottom: 20px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
footer .last h4{
    font-size: 20px;
}
footer .last span{
    display: block;
    font-size: 13px;
    color: gray;
}