@charset 'utf-8';
@import url('common.css');

header{
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    z-index: 5;
}
header article{
    display: flex;
    padding: 10px;
}
header article h1{font-size: 25px;}
header article nav{
    margin-left: 350px;
}
header article nav a{
    margin-right: 70px;
    font-size: 18px;
}
header article ul{display: inline-block;}
header article ul li ul{
    display: none;
    position: absolute; 
}
header article ul li ul li{
    margin: 20px 0; 
    position: relative;
}
header article ul li ul li::after{
    content: '';
    width: 0%; height: 1px;
    position: absolute;
    bottom: 0; left: 0%;
    background: gray;
    transition: all 0.5s;
}
header article ul li ul li:hover::after{width: 100%;}
header article ul:hover ul{
    display: block;
}
header article.active{
    background: #fff;
    margin: 0;
}
header article nav a{
    color: rgb(66, 64, 64);   
    position: relative;
}
header article nav a::after{
    content: '';
    width: 0%; height: 1px;
    position: absolute;
    bottom: 0; left: 0%;
    background: gray;
    transition: all 0.5s;
}
header article nav a:hover::after{
    width: 100%;
}
header article nav a:hover{
    color:rgb(149, 144, 144);
}
.main{margin: 0;}

.detail{
    display: flex;
    justify-content: space-between;
    width: 80%; margin: 0;
}
.detail .sec01{
    width: 65%;
    margin-left: 180px;
}
.detail .sec01 span{
    display:  block;
    font-size: 40px;
    text-align: center;
}
.detail .sec01 img{
    margin: 80px 0;
    transform: translate(0px);
    transition: 0.5s;
}
.detail .sec01 img:hover{
    transform: translate(-20px,-20px);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}
.detail .sec01 div{
    padding-right: 80px;
    width: 60%;
    display: flex;
}

.detail .sec02{
    width: 30%;
    margin: 70px 20px;
    position: fixed;
    background: white;
    right: 0;
}
.detail .sec02 h4{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}
.detail .sec02 span{
    display:block;
    color: rgb(60, 59, 59);
    margin: 5px 0;
    font-family: 'Nunito', sans-serif;
}
.detail .sec02 span a{font-family: 'Nunito', sans-serif;}
.detail .sec02 div{
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    width: 100px; 
}
.detail .sec02 div button{
    margin: 5px 0;
    width: 200px; padding: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    position: relative; 
    font-family: 'Nunito', sans-serif;
}
.detail .sec02 div button::after{
    content: ' >>';
    opacity: 0;
}
.detail .sec02 div button:hover{
    padding-right: 55px;
}
.detail .sec02 div button:hover:after{
    content: ' >>';
    opacity: 1;
}
.detail .sec02 div button:nth-of-type(2){
    background: gray;
    color: white;
}

footer{
    width: 100%;
    margin-top: 10px;
    text-align: center;
    background: url(../img/spot.jpg);
}
footer .last{
    padding-bottom: 20px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
footer .last h4{
    font-size: 20px;
}
footer .last span{
    display: block;
    font-size: 13px;
    color: gray;
}