@charset 'utf-8';
@import url('common.css');


header{
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    z-index: 5;
}
header article{
    display: flex;
    padding: 10px;
}
header article h1{font-size: 25px;}
header article nav{
    margin-left: 350px;
}
header article nav a{
    margin-right: 70px;
    font-size: 18px;
}
header article ul{display: inline-block;}
header article ul li ul{
    display: none;
    position: absolute; 
}
header article ul li ul li{
    margin: 20px 0; 
    position: relative;
}
header article ul li ul li::after{
    content: '';
    width: 0%; height: 1px;
    position: absolute;
    bottom: 0; left: 0%;
    background: gray;
    transition: all 0.5s;
}
header article ul li ul li:hover::after{width: 100%;}
header article ul:hover ul{
    display: block;
}
header article.active{
    background: #fff;
    margin: 0;
}
header article nav a{
    color: rgb(66, 64, 64);   
    position: relative;
}
header article nav a::after{
    content: '';
    width: 0%; height: 1px;
    position: absolute;
    bottom: 0; left: 0%;
    background: gray;
    transition: all 0.5s;
}
header article nav a:hover::after{
    width: 100%;
}
header article nav a:hover{
    color:rgb(149, 144, 144);
}
main{}

.spot{
    width: 100%; margin-top: 100px;
}
.spot .ment01{
    width: 60%; margin:10px 0 80px 200px;
}
.spot .ment01 h2{
    font-size: 30px;
    display: inline-block;
}
.spot .event{
    width: 70%; margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.spot .event figure{
    width: 30%; margin: 30px 0;
    text-align: center;

}
.spot .event figure img{
    width: 85%;
    transition: transform .5s;
}
.spot .event figure:hover img{
    transform: scale(1.1);
}
.spot .event figure figcaption{
    margin: 15px 0;
    font-family: 'Karla', sans-serif;
}
.spot .event figure figcaption p{
    font-size: 13px; color: gray;
    margin:5px 0;
    font-family: 'Karla', sans-serif;
}
.spot div{
    margin: 0 auto; width: 10%;
    text-align: center;
}
footer{
    width: 100%;
    margin-top: 10px;
    text-align: center;
    background: url(../img/spot.jpg);
    margin-top: 100px;
}
footer .last{
    padding-bottom: 20px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
footer .last h4{
    font-size: 20px;
}
footer .last span{
    display: block;
    font-size: 13px;
    color: gray;
}