@charset 'utf-8';
@import url('common.css');


header{
    width: 100%; margin: 0 auto;
    text-align: center;
    background: white;
    position:sticky;
    top: 0;
    z-index: 111;
    padding: 20px 0;
}
header article{
    width: 100%;
    margin: 0 auto;
}
header article h1{
    padding: 20px;
    font-size: 40px;
}
header article nav{
    width: 100%;
    font-size: 18px;
    padding: 10px;
    
}
header article nav ul{
    display: inline-block;
}
header article nav ul li{
    position: relative;
}
header article nav ul li ul{
    display: none;
    position: absolute; 
    width: 700px;
   padding-top: 30px;
}
header article nav ul:hover ul{
    display:flex;
    background: white;
    justify-content: space-between;
}
header article nav ul ul li img{
    width: 140px; height: 120px;
}
header article nav a{
    margin: 0 50px;
    color: rgb(66, 64, 64);   
    position: relative;
}
header article nav a::after{
    content: '';
    width: 0%; height: 1px;
    position: absolute;
    bottom: 0; left: 0%;
    background: gray;
    transition: all 0.5s;
}
header article nav a:hover::after{
    width: 100%;
}
header article nav a:hover{
    color:rgb(149, 144, 144);
}
main{}

.spot{
    width: 100%; margin-top: 100px;
}
.spot .ment01{
    width: 60%; margin:80px 0 80px 580px;
}
.spot .ment01 h2{
    font-size: 30px;
    display: inline-block;
}
.spot .ment01 span{
    display: inline-block;
    width: 70%; height: 1px;
    background: #000; 
    margin-bottom: 5px;
}
.spot .event{
    width: 70%; margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.spot .event figure{
    width: 30%; margin: 30px 0;
    text-align: center;

}
.spot .event figure img{
    width: 85%;
    transition: transform .5s;
}
.spot .event figure:hover img{
    transform: scale(1.1);
}
.spot .event figure figcaption{
    margin: 15px 0;
    font-family: 'Karla', sans-serif;
}
.spot .event figure figcaption p{
    font-size: 13px; color: gray;
    margin:5px 0;
    font-family: 'Karla', sans-serif;
}
.spot div{
    margin: 0 auto; width: 10%;
    text-align: center;
}
.spot div a{
    text-decoration: underline;
}
.community{
    width: 100%; margin-top: 100px;
}
.community .ment02{
    width:80%; margin-left: 200px;
}
.community .ment02 h3{
    margin: 10px 0;
    font-family: 'Karla', sans-serif;
}
.community .ment02 span{
    display: block;
    width: 90%; height: 2px;
    background: #000;
}
.community .sec01{
    width: 80%; margin-left: 200px;
}
.community .sec01 ul{
    width: 90%;
}
.community .sec01 ul li{
    margin: 10px 0;
    border-bottom:1px solid#ddd;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    list-style: outside;
}
.community .sec01 ul li span{
    display: inline-block; 
    margin-left: 700px;
}
.spot .side{
    position: absolute;
    width: 3%; right: 5%; top: 60%;
    position: fixed;
    background: white;
}
.spot .side img{
    margin: 5px 0;
    border-radius: 10px;
    transition: transform .5s;
}
.spot .side img:hover{
    transform: rotate(30deg);
}
.spot .side p{
    width: 100%; padding: 15px 5px;
    background: white;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}
.spot .side p a{
    text-decoration: none;
}
.spot .side p:hover{
    border: 1px solid #000;
    background: white; color: gray;
}
footer{
    width: 100%;
    margin-top: 100px;
    text-align: center;
}
footer p{
    display: inline-block;
    width: 100%; height: 1px;
    background-color: gray;
}
footer .last{
    padding-bottom: 20px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
footer .last h4{
    font-size: 20px;
}
footer .last span{
    display: block;
    font-size: 13px;
    color: gray;
}