@charset 'utf-8';
@import url('common.css');

header{
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    z-index: 5;
}
header article{
    display: flex;
    padding: 10px;
}
header article h1{font-size: 25px;}
header article nav{
    margin-left: 350px;
}
header article nav a{
    margin-right: 70px;
    font-size: 18px;
}
header article ul{display: inline-block;}
header article ul li ul{
    display: none;
    position: absolute; 
}
header article ul li ul li{
    margin: 20px 0; 
    position: relative;
}
header article ul li ul li::after{
    content: '';
    width: 0%; height: 1px;
    position: absolute;
    bottom: 0; left: 0%;
    background: gray;
    transition: all 0.5s;
}
header article ul li ul li:hover::after{width: 100%;}
header article ul:hover ul{
    display: block;
}
header article.active{
    background: #fff;
    margin: 0;
}
header article nav a{
    color: rgb(66, 64, 64);   
    position: relative;
}
header article nav a::after{
    content: '';
    width: 0%; height: 1px;
    position: absolute;
    bottom: 0; left: 0%;
    background: gray;
    transition: all 0.5s;
}
header article nav a:hover::after{
    width: 100%;
}
header article nav a:hover{
    color:rgb(149, 144, 144);
}


.all{
    margin: 0;
    width: 100%;
}

.login{
    position: fixed;
    z-index:99;
    top: 0; left: 0%;
    width: 100%; height:100%;
    display:flex; justify-content: center;
    align-items: center;
    background:rgba(0,0,0,0.4);
    display: none;
}
.login > div{
    width: 40%; 
    text-align: center;
    border: 1px solid gray;
    background: #fff;
}
.login .sec01{
    width: 100%;
}
.login .sec01 h2{
    font-size: 30px;
    margin: 30px 0;
}
.login .sec01 form{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.login .sec01 form p{
    text-align: center;
    margin: 10px 0;
}
.login .sec01 form p input{
    border: 1px solid rgb(162, 161, 161);
    margin-left: 30px;
    width: 180px; height: 25px;
}
.login .sec01 form p:nth-of-type(1) input{
    margin-left: 100px;
}
.login .sec01 div{
   width: 100%; margin: 50px 0;
}
.login .sec01 div p{
    font-size: 11px;
    margin-right: 160px;
    font-family: 'Karla', sans-serif;
}
.login .sec01 div input{
    border-style: none;
    background: #000;
    color: white;
    margin: 10px auto;
    display: block;
    width: 280px; height: 45px;
    font-family: 'Karla', sans-serif;
}
.login .sec01 div input:nth-of-type(2){
    background-color: white;
    color: #000;
    border: 1px solid#000;
}

.login .sec02{
    width: 100%;
    margin: 60px 40px 0 0;
}
.login .sec02 h2{
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    font-weight:normal;
    margin-right: 40px;
}
.login .sec02 form{
    margin: 40px 0;
    width: 100%;
    text-align: center;
}
.login .sec02 form p{
    text-align: center;
    margin: 10px 0;
}
.login .sec02 form input{
    border: 1px solid rgb(162, 161, 161);
    margin-left: 30px;
    width: 180px; height: 25px;
}
.login .sec02 form p:nth-of-type(1) input{
    margin-left: 55px;
}
.login .sec02 button{
    border-style: none;
    background: #000;
    color: white;
    margin: 65px auto;
    display: block;
    width: 300px; height: 45px;
    font-family: 'Karla', sans-serif;
}


.spot01{
    width: 100%;
    height: 100vh;
}

.spot02{
    width: 100%;
    height: 100vh;
    background: rgb(232, 223, 204);
    position: relative;
}
.spot02 h2{
    margin-left: 70px;
    padding: 40px 0;
    font-size: 30px;
    color: rgb(106, 96, 96);
}
.spot02 .kitimg{
    position: absolute;
    margin-left: 70px;
}
.spot02 .kitimg img{
    width: 400px;
    height: 500px;
    margin-right: 40px;
}
.spot02 .kitimg p{
    margin-left: 92%;
    padding: 20px 0;
}
.spot02 .kitimg p a{
    font-size: 20px;
    color: rgb(106, 96, 96);
}

.spot03{
    width: 100%;
    height: 100vh;
    background: rgb(198, 196, 194);
    position: relative;
}
.spot03 h2{
    margin-left: 230px;
    padding: 40px 0;
    font-size: 30px;
    color: rgb(106, 96, 96);
}
.spot03 .tabimg{
    position: absolute;
    margin-left: 230px;
    padding:10px 0;
}
.spot03 .tabimg img{
    width: 500px;
    height: 500px;
    margin-right: 15px;
}
.spot03 .tabimg p{
    margin-left: 92%;
    padding: 20px 0;
}
.spot03 .tabimg p a{
    font-size: 18px;
    color: rgb(106, 96, 96);
}

.spot04{
    width: 100%;
    height: 100vh;
    background: rgb(33, 56, 78);
    position: relative;
}
.spot04 h2{
    margin-left: 150px;
    padding: 40px 0;
    font-size: 30px;
    color: #fff;
}
.spot04 .bedimg{
    position: absolute;
    margin-left: 150px;
}
.spot04 .bedimg img{
    width: 100px;
}
.spot04 .bedimg img:nth-of-type(1){
    width: 550px;
    height: 500px;
}
.spot04 .bedimg p{
    margin-left: 92%;
    padding: 20px 0;
}
.spot04 .bedimg p a{
    font-size: 20px;
    color: #fff;
}

.spot05{
    width: 100%;
    height: 100vh;
    background: rgb(255, 255, 255);
    position: relative;
}
.spot05 h2{
    margin-left: 70px;
    padding: 40px 0;
    font-size: 30px;
    color: rgb(106, 96, 96);
}
.spot05 .accimg{
    position: absolute;
    margin-left: 70px;
}
.spot05 .accimg img{
    width: 400px;
    height: 400px;
    margin-right: 40px;
}
.spot05 .accimg p{
    margin-left: 92%;
    padding: 20px 0;
}
.spot05 .accimg p a{
    font-size: 20px;
    color: rgb(106, 96, 96);
}

footer{
    width: 100%;
    margin-top: 10px;
    text-align: center;
    background: url(../img/spot.jpg);
}
footer .last{
    padding-bottom: 20px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
footer .last h4{
    font-size: 20px;
}
footer .last span{
    display: block;
    font-size: 13px;
    color: gray;
}